


#daniYube{
    width: 1000px;
    height: 200px;
    background: #6600ff;
}
#daniLopez{
    width: 1000px;
    height: 200px;
    background:#66ff66
}
#gonzalo{
    width: 1000px;
    height: 200px;
    background:#993300
}
#jorge{
    width: 1000px;
    height: 200px;
     background:#cc0000
}
#pablo{
    width: 1000px;
    height: 200px;
    background:#3333ff
}